body{
    padding: 0;
    margin: 0;
    background-image: url("bg.jpg");
    background-size: 100%;
}

.box{
    width: 450px;
    color :white;
    padding:40px;
    text-align: center;
    margin:auto;
    background:brown;
    margin-top:40px;
    font-family: sans-serif;

}

.box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    
}

.box img:hover{
    transform: scale(0.9);

}


.box h1{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;

}

.box p{
    text-align:justify;
}

ul{
    padding: 0;
    margin: 0;
}


.box ul li{
    list-style:none;
    display: inline-block;
    padding: 30px;
    margin: 10px;
    
}

.box li a {
    color:rgb(18, 179, 26);
    font-size: 30px;
    text-replace: auto;
}

.box li a:hover{
    color:rgb(34, 9, 145);
}