h1{
    background-color:blue;
    inline-size: 30%;
    margin-left: 380px;
}
.bilgi{

    background-color: rgb(226, 224, 108);
}

.table{
    background-color:rgb(63, 55, 55);
    width: 450px;
    border: 2px solid rgb(222, 226, 202);
    margin-left: 300px;
}
